/********************************************************************/
/*******************/ @scope (.ps105) { /****************************/
/********************************************************************/

:scope {
    /* hii */
}

label {
    font-size: 16pt;
    font-weight: bold;
}

input {
    font-size: 16pt;
}

input[type="password"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

input[type="text"] {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}



/********************************************************************/
/*******************/ } /********************************************/
/********************************************************************/
