* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body,
html {
    height: 100%;
    width: 100%;
    position: relative;
}

.md-sentence {
    background-color: #fef9c3 /* yellow-100 */;
}
.md-sentence > *:not(:first-child) {
    color: blue;
    padding-left: 4pt;
}

.hljs {
    display: block;
    overflow-x: scroll;
    padding: 0.5em;
    background: #fdf6e3;
    color: #657b83;
    -webkit-text-size-adjust: none;
}

.v-highlight-js {
    display: block;
    padding: 0.5em;
    background: #3f3f3f;
    color: #dcdcdc;
}

.flex {
    display: flex;
    background-color: #fef9c3 /* yellow-100 */;
}

/* but it is patchwork to do it like this */
/* i am not convinced that it is a good idea */
/* maybe target every descendant  */


.v-highlight-js {
    margin-bottom: 20pt;
    margin-top: 20pt;
}
/****
    this will undo the above marginations when the parent is flex
****/
.flex > .v-highlight-js {
    margin-bottom: 0pt;
    margin-top: 0pt;
}
